@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@* create and add a family member *@

@Html.ActionLink("View your tree", "Display", "Search", new { @class = "btn btn-info", @id = "addressSearch" })