@using Domain.Enums
@model Domain.Models.FamilyTree.NewFamilyTree

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="tree">
    <ul>
        <li>
            @TreeHelpers.RenderTree(Model)
        </li>
    </ul>
</div>
<h2>Hello, @Model.Root.Name!</h2>
